@page
@model IndexModel
@{    
    ViewData["Title"] = "Prod Home page";
}
<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Prod .NET app to Azure App Service.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <div>Host IP: @Model.IPAddress</div>
</div>
